/* ============================================
   TRAVELHOLIC HEADER CSS - EXTRACTED FROM https://travelholiceg.com
   Complete CSS for WordPress Astra Theme Header
   ============================================ */

/* ============================================
   1. CSS VARIABLES
   ============================================ */
:root {
  --ast-global-color-0: #0e4194;
  --ast-global-color-1: #b4952b;
  --ast-global-color-2: #0F172A;
  --ast-global-color-3: #364151;
  --ast-global-color-4: #FFFFFF;
  --ast-global-color-5: #E7F6FF;
  --ast-global-color-6: #070614;
  --ast-global-color-7: #D1DAE5;
  --ast-global-color-8: #222222;
  --ast-border-color: #dddddd;
  --ast-post-nav-space: 0;
  --ast-container-default-xlg-padding: 6.67em;
  --ast-container-default-lg-padding: 5.67em;
  --ast-container-default-slg-padding: 4.34em;
  --ast-container-default-md-padding: 3.34em;
  --ast-container-default-sm-padding: 6.67em;
  --ast-container-default-xs-padding: 2.4em;
  --ast-container-default-xxs-padding: 1.4em;
  --ast-code-block-background: #EEEEEE;
  --ast-comment-inputs-background: #FAFAFA;
  --ast-normal-container-width: 1200px;
  --ast-narrow-container-width: 750px;
  --ast-global-color-primary: var(--ast-global-color-5);
  --ast-global-color-secondary: var(--ast-global-color-4);
}

/* ============================================
   2. HEADER CORE STRUCTURE
   ============================================ */
#masthead {
  position: absolute;
  left: 0;
  right: 0;
}

.site-header .site-description {
  font-size: 15px;
  font-size: 0.9375rem;
  display: none;
}

.site-title {
  font-size: 24px;
  font-size: 1.5rem;
  display: none;
}

.ast-hfb-header.ast-default-menu-enable.ast-header-break-point
  .ast-mobile-header-wrap .ast-mobile-header-content .main-header-bar-navigation {
  width: unset;
  margin: unset;
}

/* ============================================
   3. LOGO AND BRANDING
   ============================================ */
header .custom-logo-link img {
  max-width: 60px;
  width: 60px;
}

.astra-logo-svg {
  width: 60px;
}

.site-logo-img img {
  transition: all 0.2s linear;
}

.ast-builder-layout-element[data-section="title_tagline"] {
  display: flex;
}

/* ============================================
   4. PRIMARY HEADER BAR
   ============================================ */
.ast-primary-header-bar {
  background-color: #ffffff;
  background-image: none;
  border-bottom-width: 0px;
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
  display: block;
  min-height: 30px;
}

.ast-primary-header-bar.main-header-bar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.ast-mobile-header-wrap .ast-primary-header-bar,
.ast-primary-header-bar .site-primary-header-wrap {
  min-height: 30px;
}

.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item {
  line-height: 30px;
}

/* ============================================
   5. MAIN HEADER BAR
   ============================================ */
.main-header-bar {
  border-bottom-width: 1px;
  background: none;
}

.main-header-menu .menu-item,
#astra-footer-menu .menu-item,
.main-header-bar .ast-masthead-custom-menu-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-header-menu > .menu-item > .menu-link,
#astra-footer-menu > .menu-item > .menu-link {
  height: 100%;
  align-items: center;
  display: flex;
}

/* ============================================
   6. BUILDER MENU (DESKTOP)
   ============================================ */
.ast-builder-menu-1 {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  display: flex;
}

.ast-builder-menu-1 .menu-item > .menu-link {
  font-size: -9223372036854775808px;
  color: var(--ast-global-color-0);
}

.ast-builder-menu-1 .menu-item > .ast-menu-toggle {
  color: var(--ast-global-color-0);
}

.ast-builder-menu-1 .menu-item:hover > .menu-link {
  color: var(--ast-global-color-2);
  background: var(--ast-global-color-4);
}

.ast-builder-menu-1 .main-header-menu .current-menu-item > .menu-link,
.ast-builder-menu-1 .main-header-menu .current-menu-ancestor > .menu-link {
  color: var(--ast-global-color-2);
}

/* ============================================
   7. SUBMENU AND DROPDOWNS
   ============================================ */
.ast-builder-menu-1 .sub-menu,
.ast-builder-menu-1 .inline-on-mobile .sub-menu {
  border-top-width: 2px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: var(--ast-global-color-0);
  border-style: solid;
}

.ast-builder-menu-1 .sub-menu .sub-menu {
  top: -2px;
}

.ast-builder-menu-1 .main-header-menu > .menu-item > .sub-menu,
.ast-builder-menu-1 .main-header-menu > .menu-item > .astra-full-megamenu-wrapper {
  margin-top: 0px;
}

.ast-desktop .ast-builder-menu-1 .main-header-menu > .menu-item > .sub-menu:before,
.ast-desktop .ast-builder-menu-1 .main-header-menu > .menu-item > .astra-full-megamenu-wrapper:before {
  height: calc(0px + 2px + 5px);
}

.main-header-menu .sub-menu .menu-link {
  background-color: transparent;
}

.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item .sub-menu .menu-item
  .menu-item .menu-link {
  padding-left: 40px;
}

/* ============================================
   8. HEADER BUTTON
   ============================================ */
.ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button {
  font-family: century gothic, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: initial;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.ast-header-button-1 .ast-custom-button {
  color: #ffffff;
  background: var(--ast-global-color-0);
  border-color: #ffffff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ast-header-button-1 .ast-custom-button:hover {
  color: var(--ast-global-color-4);
  background: #b4952b;
  border-color: #ffffff;
}

/* ============================================
   9. MOBILE MENU TRIGGER
   ============================================ */
[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal {
  color: var(--ast-global-color-0);
  border: none;
  background: transparent;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
  width: 20px;
  height: 20px;
  fill: var(--ast-global-color-0);
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-wrap .mobile-menu {
  color: var(--ast-global-color-0);
}

.menu-toggle, button, .ast-button {
  border-style: solid;
  color: #ffffff;
  background-color: var(--ast-global-color-1);
  padding: 18px 34px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
}

button:hover, .menu-toggle:hover, .ast-button:hover {
  background-color: var(--ast-global-color-3);
  border-color: var(--ast-global-color-3);
  color: var(--ast-global-color-5);
}

/* ============================================
   10. MOBILE HEADER WRAPPER
   ============================================ */
.ast-mobile-popup-drawer.active .ast-mobile-popup-inner {
  background-color: #ffffff;
}

.ast-mobile-popup-drawer.active .menu-toggle-close {
  color: #3a3a3a;
}

.ast-mobile-header-wrap .ast-mobile-header-content,
.ast-desktop-header-content {
  background-color: #ffffff;
}

.ast-mobile-popup-content > *,
.ast-mobile-header-content > *,
.ast-desktop-popup-content > *,
.ast-desktop-header-content > * {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ast-header-break-point #masthead .ast-mobile-header-wrap .ast-primary-header-bar,
.ast-header-break-point #masthead .ast-mobile-header-wrap .ast-below-header-bar,
.ast-header-break-point #masthead .ast-mobile-header-wrap .ast-above-header-bar {
  padding-left: 20px;
  padding-right: 20px;
}

/* ============================================
   11. MOBILE MENU NAVIGATION
   ============================================ */
.ast-builder-menu-mobile .main-navigation .menu-item.menu-item-has-children > .ast-menu-toggle {
  top: 0;
}

.ast-builder-menu-mobile .main-navigation .menu-item-has-children > .menu-link:after {
  content: unset;
}

.ast-hfb-header .ast-builder-menu-mobile .main-header-menu,
.ast-hfb-header .ast-builder-menu-mobile .main-navigation .menu-item .menu-link,
.ast-hfb-header .ast-builder-menu-mobile .main-navigation .menu-item .sub-menu .menu-link {
  border-style: none;
}

.ast-builder-menu-mobile .main-navigation {
  display: block;
}

.ast-mobile-popup-content .ast-submenu-expanded > .ast-menu-toggle {
  transform: rotateX(180deg);
  overflow-y: auto;
}

/* ============================================
   12. ICON STYLES
   ============================================ */
.ast-header-break-point .main-navigation ul .menu-item .menu-link .icon-arrow:first-of-type svg {
  top: .2em;
  margin-top: 0px;
  margin-left: 0px;
  width: .65em;
  transform: translate(0, -2px) rotateZ(270deg);
}

/* ============================================
   13. FOCUS STATES
   ============================================ */
a:focus-visible {
  outline-style: dotted;
  outline-color: inherit;
  outline-width: thin;
}

/* ============================================
   14. TRANSITIONS AND ANIMATIONS
   ============================================ */
.ast-header-search .ast-search-menu-icon.ast-dropdown-active .search-form,
.ast-header-search .ast-search-menu-icon.ast-dropdown-active .search-field:focus {
  transition: all 0.2s;
}

.ast-desktop .ast-desktop-header-content .astra-menu-animation-slide-up > .menu-item > .sub-menu,
.ast-desktop .ast-desktop-header-content .astra-menu-animation-fade > .menu-item > .sub-menu {
  opacity: 1;
  visibility: visible;
}

/* ============================================
   15. DESKTOP-SPECIFIC STYLES (min-width: 922px)
   ============================================ */
@media (min-width: 922px) {
  #ast-desktop-header {
    display: none;
  }

  .ast-primary-header-bar {
    border-bottom-width: 0px;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    display: block;
  }

  .main-header-bar {
    border-bottom-width: 1px;
  }

  .ast-builder-menu .main-navigation > ul > li:last-child a {
    margin-right: 0;
  }

  .ast-theme-transparent-header #masthead {
    position: absolute;
    left: 0;
    right: 0;
  }
}

/* ============================================
   16. TABLET RESPONSIVE STYLES (max-width: 921px)
   ============================================ */
@media (max-width: 921px) {
  .site-title {
    display: none;
  }

  .site-header .site-description {
    display: none;
  }

  .astra-logo-svg {
    width: 50px;
  }

  header .custom-logo-link img,
  .ast-header-break-point .site-logo-img .custom-mobile-logo-link img {
    max-width: 50px;
    width: 50px;
  }

  html {
    font-size: 91.2%;
  }

  /* Builder Menu - Tablet */
  .ast-header-break-point .ast-builder-menu-1 .menu-item.menu-item-has-children > .ast-menu-toggle {
    top: 0;
  }

  .ast-builder-menu-1 .inline-on-mobile .menu-item.menu-item-has-children > .ast-menu-toggle {
    right: -15px;
  }

  .ast-builder-menu-1 .menu-item-has-children > .menu-link:after {
    content: unset;
  }

  .ast-builder-menu-1 .main-header-menu > .menu-item > .sub-menu,
  .ast-builder-menu-1 .main-header-menu > .menu-item > .astra-full-megamenu-wrapper {
    margin-top: 0;
  }

  .ast-builder-menu-1 {
    display: flex;
  }

  .ast-header-break-point .ast-builder-menu-1 {
    display: flex;
  }

  /* Header Button - Tablet */
  .ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button {
    font-size: 1rem;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .ast-header-button-1[data-section="section-hb-button-1"] {
    display: flex;
  }

  .ast-header-break-point .ast-header-button-1[data-section="section-hb-button-1"] {
    display: flex;
  }

  /* Primary Header - Tablet */
  .ast-primary-header-bar.ast-primary-header {
    background-color: var(--ast-global-color-4);
    background-image: none;
  }

  .ast-header-break-point .ast-primary-header-bar {
    border-bottom-width: 0px;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    display: grid;
  }

  /* Mobile Menu Builder - Tablet */
  .ast-builder-menu-mobile .main-navigation {
    font-size: 18px;
    font-size: 1.125rem;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
    color: var(--ast-global-color-3);
    padding-left: 25px;
    padding-right: 25px;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .ast-menu-toggle {
    color: var(--ast-global-color-3);
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item:hover > .menu-link,
  .ast-builder-menu-mobile .main-navigation .inline-on-mobile .menu-item:hover > .ast-menu-toggle {
    color: var(--ast-global-color-2);
    background: var(--ast-global-color-4);
  }

  .ast-builder-menu-mobile .main-navigation .menu-item:hover > .ast-menu-toggle {
    color: var(--ast-global-color-2);
  }

  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-item > .menu-link,
  .ast-builder-menu-mobile .main-navigation .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle,
  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-ancestor > .menu-link,
  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-ancestor > .ast-menu-toggle {
    color: var(--ast-global-color-2);
    background: var(--ast-global-color-4);
  }

  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-item > .ast-menu-toggle {
    color: var(--ast-global-color-2);
  }

  .ast-builder-menu-mobile .main-navigation .menu-item.menu-item-has-children > .ast-menu-toggle {
    top: 0;
    right: calc(25px - 0.907em);
  }

  .ast-builder-menu-mobile .main-navigation .menu-item-has-children > .menu-link:after {
    content: unset;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu,
  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-link,
  .ast-builder-menu-mobile .main-navigation .main-header-menu .sub-menu {
    background-color: var(--ast-global-color-5);
    background-image: none;
  }

  .ast-builder-menu-mobile .main-navigation {
    display: block;
  }

  .ast-header-break-point .ast-builder-menu-mobile .main-navigation {
    display: block;
  }

  .ast-theme-transparent-header #masthead {
    position: absolute;
    left: 0;
    right: 0;
  }
}

/* ============================================
   17. MOBILE RESPONSIVE STYLES (max-width: 544px)
   ============================================ */
@media (max-width: 544px) {
  .site-title {
    display: none;
  }

  .site-header .site-description {
    display: none;
  }

  header .custom-logo-link img,
  .ast-header-break-point .site-branding img,
  .ast-header-break-point .custom-logo-link img {
    max-width: 50px;
    width: 50px;
  }

  .astra-logo-svg {
    width: 50px;
  }

  .ast-header-break-point .site-logo-img .custom-mobile-logo-link img {
    max-width: 50px;
  }

  html {
    font-size: 91.2%;
  }

  /* Header Button - Mobile */
  .ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button {
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .ast-header-button-1[data-section="section-hb-button-1"] {
    display: flex;
  }

  .ast-header-break-point .ast-header-button-1[data-section="section-hb-button-1"] {
    display: flex;
  }

  /* Mobile Menu Trigger - Mobile */
  [data-section="section-header-mobile-trigger"] .ast-button-wrap .menu-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Primary Header - Mobile */
  .ast-header-break-point .ast-primary-header-bar {
    display: grid;
  }

  /* Mobile Menu Builder - Mobile */
  .ast-builder-menu-mobile .main-navigation {
    font-size: 15px;
    font-size: 0.9375rem;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
    color: #222222;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .ast-menu-toggle {
    color: #222222;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item:hover > .menu-link,
  .ast-builder-menu-mobile .main-navigation .inline-on-mobile .menu-item:hover > .ast-menu-toggle {
    color: #000000;
    background: #f7f8f9;
  }

  .ast-builder-menu-mobile .main-navigation .menu-item:hover > .ast-menu-toggle {
    color: #000000;
  }

  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-item > .menu-link,
  .ast-builder-menu-mobile .main-navigation .inline-on-mobile .menu-item.current-menu-item > .ast-menu-toggle,
  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-ancestor > .menu-link,
  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-ancestor > .ast-menu-toggle {
    color: #000000;
    background: #f7f8f9;
  }

  .ast-builder-menu-mobile .main-navigation .menu-item.current-menu-item > .ast-menu-toggle {
    color: #000000;
  }

  .ast-builder-menu-mobile .main-navigation .menu-item.menu-item-has-children > .ast-menu-toggle {
    top: 0;
  }

  .ast-builder-menu-mobile .main-navigation .main-header-menu,
  .ast-builder-menu-mobile .main-navigation .main-header-menu .menu-link,
  .ast-builder-menu-mobile .main-navigation .main-header-menu .sub-menu {
    background-color: #ffffff;
    background-image: none;
  }

  .ast-builder-menu-mobile .main-navigation {
    display: block;
  }

  .ast-header-break-point .ast-builder-menu-mobile .main-navigation {
    display: block;
  }
}

/* ============================================
   18. TRANSPARENT HEADER THEME
   ============================================ */
.ast-theme-transparent-header .site-title a {
  color: #ffffff;
}

.ast-theme-transparent-header .main-header-menu .current-menu-item > .menu-link {
  color: var(--ast-global-color-2);
}

/* ============================================
   END OF HEADER CSS
   ============================================ */
